name: Build

on:
  push:
    branches: [ main ]
    tags: [ 'llvm_*' ]
    paths-ignore:
      - README.md
      - LICENSE
  workflow_dispatch:

env:
  LLVM_VERSION: "21.x"
  LLVM_REPO_URL: "https://github.com/llvm/llvm-project.git"

jobs:
  build:
    name: Build (${{ matrix.target.id }}, ${{ matrix.llvm_version }}, ${{ matrix.llvm_build_type }})
    strategy:
      fail-fast: false
      matrix:
        llvm_version: ["21.x"]
        llvm_build_type: ["Release", "Debug"]
        target:
          - id: "linux-amd64"
            os: "ubuntu-22.04"

          - id: "linux-aarch64"
            os: "ubuntu-24.04-arm"

          # - id: "linux-riscv64"
          #   os: "ubuntu-24.04" # TODO: use the second disk in /mnt which has more disk space for building this, otherwise it doesn't have sufficient disk space to complete PHASE 1

          - id: "darwin-amd64"
            os: "macos-15-intel"

          - id: "darwin-aarch64"
            os: "macos-latest"

          - id: "windows-amd64"
            os: "windows-2022"
            tar_extra_args: "--dereference" # On Windows, symlinks require existing targets, so archives may fail. Dereferencing stores copies instead, slightly increasing size but ensuring reliable unpacking.

    runs-on: ${{ matrix.target.os }}

    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      # - name: Free Disk Space (Linux)
      #   if: startsWith(matrix.target.id, 'linux-')
      #   run: |
      #     echo "Initial disk usage:"
      #     df -h

      #     sudo docker system prune --all --force --volumes || true
      #     sudo rm -rf \
      #       /usr/share/dotnet \
      #       /usr/local/lib/android \
      #       /opt/ghc \
      #       /usr/share/swift \
      #       /usr/local/share/powershell \
      #       /usr/local/share/boost \
      #       /usr/lib/jvm

      #     echo "Final disk usage:"
      #     df -h

      # Increase Swap Space
      - name: Maximize Swap Space
        if: startsWith(matrix.target.id, 'linux-')
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Install `ninja` (Linux)
        if: startsWith(matrix.target.id, 'linux-')
        run: sudo apt-get install ninja-build -y

      # - name: Install cross-compilation tools (RISCV)
      #   if: matrix.target.id == 'linux-riscv64'
      #   run: |
      #     sudo apt-get install gcc-13-riscv64-linux-gnu g++-13-riscv64-linux-gnu \
      #     gcc-13-multilib binutils-riscv64-linux-gnu libgcc-13-dev-riscv64-cross \
      #     libstdc++6-riscv64-cross -y

      - name: Install `ninja` (macOS)
        if: startsWith(matrix.target.id, 'darwin-')
        run: brew install ninja

      - name: Setup MSVC (Windows)
        uses: ilammy/msvc-dev-cmd@v1
        if: matrix.target.id == 'windows-amd64'

      - name: Build
        if: matrix.target.id != 'windows-amd64'
        shell: bash
        run: |
          ./build.sh ${{ matrix.llvm_version }} ${{ env.LLVM_REPO_URL }} ${{ matrix.target.id }} ${{ matrix.llvm_build_type }}

      - name: Build (Windows)
        if: matrix.target.id == 'windows-amd64'
        run: |
          ./build.ps1 ${{ matrix.llvm_version }} ${{ env.LLVM_REPO_URL }} ${{ matrix.llvm_build_type }}

      - name: Zip
        shell: bash
        run: |
          mkdir -p dist
          ASSET_SUFFIX=""
          if [ "${{ matrix.llvm_build_type }}" == "Debug" ]; then ASSET_SUFFIX="-dbg"; fi
          tar --directory llvm-project/build/destdir --create --xz --verbose ${{ matrix.target.tar_extra_args }} --file dist/llvm${ASSET_SUFFIX}.tar.xz .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.target.id }}-${{ matrix.llvm_version }}-${{ matrix.llvm_build_type }}
          path: dist
          if-no-files-found: error
          retention-days: 1

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download the Artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts

      - name: Prepare Release Assets
        shell: bash
        run: |
          mkdir -p release_dist
          for dir in artifacts/*; do
            dirname=$(basename "$dir")
            id=$(echo "$dirname" | cut -d'-' -f1,2)
            type=$(echo "$dirname" | rev | cut -d'-' -f1 | rev)
            suffix=""
            if [ "$type" == "Debug" ]; then suffix="-dbg"; fi

            FILE=$(find "$dir" -name "*.tar.xz" | head -n 1)
            if [ -n "$FILE" ]; then
              cp "$FILE" "release_dist/llvm-${id}${suffix}.tar.xz"
            fi
          done

      - name: Create and Upload Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: LLVM ${{ env.LLVM_VERSION }}
          tag_name: ${{ github.ref_name }}
          files: release_dist/*.tar.xz
          allow_override: true
          draft: false
          prerelease: false
